<nav class="navbar navbar-expand-md navbar-light bg-light fixed-bottom">
  <div class="container">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fas fa-home"></i>
          <span>HOME</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" style="margin-top: -10px">
          <i class="fa-solid fa-briefcase"></i>
          <span>ACCOUNTS</span>
        </a>
      </li>
      <li class="nav-item menu">
        <a class="nav-link" href="#">
          <i class="fa-solid fa-bars"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fa-solid fa-right-left white"></i>
          <span>TRANSFERS</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fa-regular fa-credit-card"></i>
          <span>CARDS</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
