.container {
  padding-top: 10px;
  background-color: #fff;
  width: 93%;
  border-radius: 8px;
}

p {
  margin: 0;
}


.align-self-center {
  align-self: flex-start !important;
}

.transaction {
  border-bottom: 1px solid #F4F4F4;
  padding: 10px;
}

.transaction-icon {
  font-size: 24px;
}

.transaction-details {
  flex: 1;
  padding-left: 10px;
}

.transaction-name,
.transaction-amount {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}


.transaction-history {
  margin-top: 20px;
  background-color: #F4F4F4;
  color: black;
  line-height: 21px;
  border: none;
  width: 100%;
  height: 45px;
  font-size: 14px;
  margin-bottom: 15px;
}

.date {
  color: #64748B;
  font-size: 12px;
}

.transaction-icon {
  vertical-align: top;
  line-height: 29px;

  .fa-arrow-up {
    padding: 9.5px 10.75px;
    border-radius: 8px;
    font-size: 10px;
    background-color: #FEE2E2;
  }
}

button.repeat {
  padding: 0;
}

button.repeat,
i.repeat {
  color: #316CE2;
}

i.next {
  color: #316CE2;
}