<div *ngFor="let card of cards" class="container mt-4 mb-1 pt-4 pb-4">
  <div class="transaction">
    <div class="d-flex">
      <div class="card-icon align-self-center">
        <i class="{{ card.icon }}"></i>
      </div>
      <div class="details">
        <p class="transaction-name">{{ card.name }}</p>
        <button class="btn btn-sm repeat">
          {{ card.view_label }}
        </button>
      </div>
      <div class="number ml-auto text-right">
        <span class="number {{ card.number_class }}">
          {{ card.number }}
        </span>
      </div>
    </div>
  </div>
</div>
